.liquid-ether-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  pointer-events: none;
  z-index: 0;
}

.liquid-ether-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
